* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
}

body {
    color: #999;
}

/* STATISTIC */

.statistic {
    display: flex;
    width: 295px;
    height: 50px;
    padding-left: 10px;
    margin: 20px auto 0;

    border: 2px solid #000000;

    flex-direction: column;
    justify-content: center;
}

.statistic__showing-num, .statistic__hitting-num {
    margin-left: 10px;
}

/* BOARD */

.wr-board {
    position: absolute;
    top: 50%;
    left: 50%;

    display: flex;
    width: 295px;

    gap: 5px;
    flex-wrap: wrap;
    transform: translate(-50%, -50%);
}

.board-item {
    width: 70px;
    height: 70px;

    border: 1px solid #000000;

    
}

.goblin-active {
    background: no-repeat url(../img/goblin.png);
    background-position: center;
    background-size: 100% auto;

    cursor: crosshair;
}



/* POP UP */

.pop-up {
    position: absolute;
    top: 50%;
    left: 50%;

    display: flex;
    width: 50%;
    height: 100px;

    background: #ffffff;
    border: 2px solid #000000;

    justify-content: center;
    align-items: center;

    transform: translate(-50%, -50%);
}

.hidden {
    display: none;
}


/* CURSOR */

.cursor {
    position: absolute;
    top: 1px;
    left: 1px;

    width: 32px;
    height: 32px;

    background: no-repeat url(../img/hammer.png);
    background-size: 100%;
    background-position: center;
}

/* .hidden-cursor{
    display: none;
} */